/* Estilo de la línea de tiempo */
.timeline-container {
  position: absolute;
  left: 7px;
  top: 25px;
  bottom: 55px;
  width: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline-item {
  position: relative;
}

.timeline-marker {
  width: 15px;
  height: 15px;
  background-color: #ffddcc;
  border-radius: 50%;
  position: absolute;
  left: -9px;
}

@keyframes buzz {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}

.animate-buzz {
  animation: buzz 0.5s ease infinite;
}

/* Contenedor de imágenes */
.experience-right img {
  transition: transform 0.5s ease-in-out;
}

.experience-right img:hover {
  transform: scale(0.9); /* Efecto de alejamiento */
}
