/* globales.css */

/* Efecto de iluminaci칩n para botones de secciones */
.boton-iluminacion-hover {
  transition: all 0.3s ease-in-out; /* Suaviza la transici칩n */
}

.boton-iluminacion-hover:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 221, 204, 0.774); /* Efecto de iluminaci칩n en hover */
  border: 2px solid rgb(17, 24, 39); /* Borde de 5px visible solo en hover */
}


/* Estilos generales del Navbar */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import './Accordion.css';

.logo-personalizado {
  width: 200px;
  height: auto;
  transition: transform 0.2s ease, filter 0.3s ease;
}

.logo-personalizado:hover {
  transform: scale(1.01);
  filter: brightness(1.5);
}

nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}

.nav-link {
  position: relative;
  padding-bottom: 0.5rem;
  color: inherit;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.light .nav-link::after {
  background-color: #000000;
}

.dark .nav-link::after {
  background-color: #ffddcc;
}

.nav-link:hover::after {
  width: 100%;
}

.section {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
}

.section-description {
  margin: 5rem 0;
  text-align: center;
}

.text-light {
  color: #ffddcc;
  font-weight: 600;
}

/* Estilos para el efecto de desvanecido */
.fade-effect {
  position: relative;
  height: 5rem;
}

.fade-effect::before,
.fade-effect::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.fade-effect::before {
  left: 0;
  background: linear-gradient(to right, #374151, rgba(55, 65, 81, 0));
}

.fade-effect::after {
  right: 0;
  background: linear-gradient(to left, #374151, rgba(55, 65, 81, 0));
}

hr {
  padding: 5px 0;
}

button, a {
  transition: all 0.3s ease;
}
/* Estilo para el contenedor del proyecto */
.border-container {
  border: 1px solid #1f2937;
}

/* Estilo para las im치genes del proyecto */
.contenedor {
  overflow: hidden;
}

.contenedor img {
  transition: transform 0.5s ease-in-out;
}

.contenedor img:hover {
  transform: scale(0.9); /* Efecto de alejamiento */
}

/* Sombra y bordes para el hover del proyecto */
.project-hover {
  border: 5px solid rgb(31, 41, 55);
}

.dark .project-hover {
  border-color: rgb(255, 221, 204);
}

.project-hover:hover {
  box-shadow: 0 8px 24px rgba(31, 41, 55, 0.2);
}

.dark .project-hover:hover {
  box-shadow: 0 8px 24px rgba(255, 221, 204, 0.2);
}
