/* Importar fuente "Inter" de Tailwind */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* TailwindCSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar la fuente y el color global al body */
body {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
  /* background-image: url('../styles/assets/bg-white.jpg'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Ajustes para tema claro */


.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #111827;
}

/* Estilo para encabezados */
h1, h2, h3, h4, h5, h6 {
  color: rgb(255, 221, 204);
}

/* Secciones generales */
.section {
  /* padding: 4rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
}

/* .section-description {
  margin: 5rem 0;
  text-align: center;
} */

hr {
  border-color: rgb(56, 80, 92);
}

/* Estilo para el contenedor del proyecto */
.border-container {
  border: 1px solid #1f2937;
}

.contenedor {
  overflow: hidden;
}

.contenedor img {
  transition: transform 0.3s ease-in-out;
}

.contenedor img:hover {
  transform: scale(0.95);
}

/* Estilos de botones */
button, a {
  transition: all 0.3s ease;
}

/* Proyecto hover */
.project-hover:hover {
  box-shadow: 0 8px 24px rgba(31, 41, 55, 0.2);
  transition: 0.2s ease-in-out;
}

.dark .project-hover:hover {
  box-shadow: 0 8px 24px rgba(255, 221, 204, 0.2);
}

/* Badge de tecnologías */
.badge {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  background-color: #1f1f1f26;
  color: #dedede;
}

.dark .badge {
  background-color: #00000059;
  color: #ffddcc;
}

/* Estilos para la línea de tiempo */
.timeline-container {
  position: absolute;
  left: 7px;
  top: 25px;
  bottom: 55px;
  width: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline-item {
  position: relative;
}

.timeline-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -9px;
  background-color: #ffddcc;
}

.light .timeline-marker {
  background-color: #1f2937;
}

.dark .timeline-marker {
  background-color: #ffddcc;
}

/* Efecto de buzz para los botones */
.animate-buzz {
  animation: buzz 0.5s ease infinite;
}

@keyframes buzz {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}

/* Sombra y bordes para el hover del proyecto */
.project-hover:hover {
  box-shadow: 0 0 10px rgba(31, 41, 55, 0.2);
}

.dark .project-hover:hover {
  box-shadow: 0 0 10px rgba(51, 130, 168, 0.22);
}