/* INICIO EFECTO SOL LATENTE */

/* Efecto de latido suave con tonos azules y púrpura */
@keyframes solarPulse {
  0% {
    background-position: 0% 0%;
    box-shadow: 50rem 50rem 100rem 60rem rgb(17, 24, 39); /* Ajusta la sombra inicial */
  }
  50% {
    background-position: 50% 50%;
    box-shadow: 30rem 30rem 80rem 50rem rgb(57, 59, 178); /* Cambia el tamaño del halo en el punto medio */
  }
  100% {
    background-position: 100% 100%;
    box-shadow: 50rem 50rem 100rem 60rem rgb(17, 24, 39); /* Sombra final */
  }
}

.animate-comet-shadow {
  background: conic-gradient(from 90deg at 50% 50%, #E2CBFF 0%, #393BB2 50%, #E2CBFF 100%);
  background-size: 200% 200%;
  animation: solarPulse 5s ease-in-out infinite; /* Ajusta la duración de la animación */
  border-radius: 50%; /* Mantiene el borde redondeado */
  padding: 5px;
  transition: box-shadow 15s ease-in-out; /* Transición suave del halo */
  filter: blur(0.2px); /* Difuminación sutil */
  margin: 20px 0;
}

/* FLECHA DE SCROLL */
.scroll-icon {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 80;
}

.scroll-arrow {
  width: 2em;
  height: 2em;
  background-color: transparent;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  position: absolute;
  transform: translateY(0%) rotate(45deg);
  animation: scrolldown 1.2s ease-in-out infinite;
}

.scroll-arrow.delay {
  bottom: 0vh;
  animation-delay: 0.3s;
}

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

/* Animación para el borde del contenedor de la imagen */
@keyframes animate-border {
  0% {
    border-color: #E2CBFF;
    box-shadow: 0 0 20px 1px rgba(129, 110, 255, 0.444); /* Sombra inicial */
  }
  50% {
    border-color: #393bb26a; /* Cambia el color del borde en el punto medio */
    box-shadow: 0 0 50px 2px rgba(101, 104, 255, 0.255); /* Ajusta la sombra en el punto medio */
  }
  100% {
    border-color: #E2CBFF;
    box-shadow: 0 0 20px 1px rgba(117, 75, 255, 0.381); /* Sombra final */
  }
}

.animate-comet-shadow {
  border-radius: 50%;
  animation: animate-border 10s infinite ease-in-out; /* Duración de la animación */
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 0 10rem 5rem rgba(255, 221, 204, 0.5); /* Ajusta el tamaño del aura */
}
