/* Efecto de latido suave */
@keyframes solarPulse {
  0% {
    box-shadow: 50rem 50rem 100rem 60rem rgb(17, 24, 39); /* Ajusta la sombra inicial */
  }
  50% {
    box-shadow: 30rem 30rem 80rem 50rem rgb(57, 59, 178); /* Cambia el tamaño del halo en el punto medio */
  }
  100% {
    box-shadow: 50rem 50rem 100rem 60rem rgb(17, 24, 39); /* Sombra final */
  }
}

.animate-comet-shadow {
  animation: solarPulse 5s ease-in-out infinite;
  border-radius: 50%; /* Mantiene el borde redondeado */
  padding: 5px;
  transition: box-shadow 15s ease-in-out; /* Transición suave del halo */
  filter: blur(0.2px); /* Difuminación sutil */
  margin: 20px 0;
}

/* Animación para el borde del contenedor de la imagen */
@keyframes animate-border {
  0% {
    box-shadow: 0 0 20px 1px rgba(129, 110, 255, 0.444); /* Sombra inicial */
  }
  50% {
    box-shadow: 0 0 50px 2px rgba(101, 104, 255, 0.255); /* Ajusta la sombra en el punto medio */
  }
  100% {
    box-shadow: 0 0 20px 1px rgba(117, 75, 255, 0.381); /* Sombra final */
  }
}

.animate-comet-shadow {
  border-radius: 50%;
  animation: animate-border 10s infinite ease-in-out;
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 0 10rem 5rem rgba(255, 221, 204, 0.5);
}
