.fade-effect {
    position: relative;
  }
  
  .fade-effect::before,
  .fade-effect::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 2;
    pointer-events: none;
  }
  
  .fade-effect::before {
    left: 0;
    background: linear-gradient(to right, #374151, rgba(55, 65, 81, 0));
  }
  
  .fade-effect::after {
    right: 0;
    background: linear-gradient(to left, #374151, rgba(55, 65, 81, 0));
  }

  .highlighted {
    color: #ffddcc;
  }
  
